
//kolry dla tekstu

$basic-text-color: #ffffff;
$basic-header-color: #ffffff;
$secondary-text-color: #000000;
$menu-link-color: #abaeb1; 

//kolor boxu logowania
$main-color: #13bdd2;


//Ramki
$box-border-color: #47cbdc;

//tło ikony
$icon-background: #47cbdc;

//kolory tła
$box-background:  #13bdd2;
$avatar-background: #ffffff;

//formularz
$input-shadow: #c7c7c7;
$second-button-color: #ffffff;



