
// buttony strona login

.login-form button{
  text-transform: uppercase;
  @include size(119px, 30px);
  @include borderRadiusSingle(3px);	
  line-height: 5px;
  @include basicTransition;
	  
}

.login-first-button{
	margin-right: 5px;
	background: $main-color;
		
}

.login-second-button{
	background: $second-button-color;
	color: $secondary-text-color;
}





