


.container-main{
	padding-top: 42px;
}

.login-content{
	background: #13bdd2;
	border-radius: 5px;
	padding: 40px 30px;
}

.photo-login{
	width: 95px;
	height: 95px;
	border-radius: 50%;
	background: $white;
	margin-top: 90px;
}



