
// formularz strona login

.login-form{
	padding: 80px 20px 60px 25px;
	@include sectionBorder;
	@include borderRadiusSingle(5px);
}

.password-form{
	padding-top: 20px;
	input{
		width: 92%;
		box-shadow:0 2px 0px $input-shadow inset;
		@include borderRadiusSingle(3px);
		@include breakpoint(medium down) {
			width: 100%;
		}
	
	}
}
//walidacja

#validation {
	width: 92%;
	background: #FF4C58;
	font-size: 13px;
	margin-bottom: 15px;
	@include breakpoint(medium down) {
 		width: 100%;
	}
}

#icon-warning{
	display: none;
}






